<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
       $(document).ready(function(){
        $(".add-item").click(function(){
            var item= $("#item").val();
            var unit = $("#unit").val();
            var markup = "<tr><td>" + item.split(",")[1] + "</td><td>" + unit + "</td><td>"+item.split(",")[2]+"</td><td>"+item.split(",")[2] * unit+"</td> </tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
    });
</script>
    <title th:text="Invoices">MedManager</title>
</head>
<body>
    <nav th:fragment="navigation">
    <a href="/item">Medicine</a> |
    <a href="/category">View Category</a> |
    <a href="/invoice">Invoice</a> |
    <a href="/invoice/view">View Invoice</a> |
</nav>
</body>
</html>