<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragments = "head"></head>
<body class="container">
<h1 th:text="${title}"></h1>
<p th:text="${error}"></p>
<form method="post" action="/login">
    <input name="username" type="text" class="form-control" placeholder="Username"
           autofocus="true"/>
    <input name="password" type="password" class="form-control" placeholder="Password"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

</form>
</body>
</html>